@import '../../variables.scss';
* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin-left: 160px;
  padding: 0px 10px;
}

.highlighted {
  background-color: $gold;
  color: white;
  padding: 10px;
}


h2 {
    text-align: center;
    text-transform: uppercase;
    color: $gold;
}


hr {
  width: 80%;
  height: 5px;
  background-color: $gold;
  border: 0;
}

.test-btn {
  display: block;
  width: 30%;
  margin: 2rem auto;
  background-color: $btn-primary-bg-color;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    &:hover {
      color: #f1f1f1;
    }
  }
}

.test-btn-secondary {
  @extend .test-btn;
  background-color: $red;
}

.like-btn {
  @extend .test-btn;
  background-color: $like-color;
}


/* COMMENT HISTORY */

.is-striped { background-color: rgba(233,200,147,0.2) }


/* Table column sizing
================================== */
.name-cell  { width: 15%; }
.comment-cell  { width: 25%; }
.comment-id-cell  { width: 12%; }
.card-id-cell  { width: 13%; }
.date-cell  { width: 20%; }
.functions-cell  { width: 15%; }

/* Apply styles
================================== */
.table-area {
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 5px;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  clear: both;
  background-color: #806c3d;
  .head-table-row {
    display: none;
    &:hover {
      background-color: #333;
      color: white;
    }
    
    .head-table-cell  {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden; // Or flex might break
      list-style: none;

      &.column-heading {
        background-color: $second-gold;
        color: white;
        padding: 1em;
        text-transform: uppercase;
        font-size: 0.9rem;
      }
    }
  }
}

 /* Responsive
==================================== */
@media all and (min-width: $breakpoint) {
    .head-table-row {
      width: 100%;
      display: flex !important;
    }
  }

// Non-Flex modernizer fallback
.no-flexbox .table-area {
  display: block;
  
  &.table-cell {
    width: 100%;
  }
}

.facebook-message-board {
  .main.message-board {
    .search {
      width: 40%;
    }
    .card {
      display: block;
      width: 50%;
      margin: 1.5rem 7rem;
      &.highlighted {
        background-color: $gold;
      }
      .delete-btn {
        right: -30rem;
      }
    }
  }
  
  
}