
<div class="wrapper">
  <h2>Profile</h2>
  <button class="test-btn" (click)="generateNewCards()" [class.none]="id < 1">Generate Cards</button>
  <button class="test-btn-secondary" (click)="deleteCards()">Delete Cards</button>
  <button class="like-btn" (click)="showLikes()">Show Likes <span *ngIf="showLikes()">{{showLikes()}}</span></button>
  <section class="">
      <div *ngFor="let data of cardArray">
          <app-card [card]="data" (delete)="removeCard($event)" (push)="pushTable($event)"></app-card>
      </div>
  </section>
  <section class="table-area">
      <div class="card-header">
          <hr>
          <h2>Comment History</h2>
          <hr>
          <div class="head-table-row">
              <div class="head-table-cell name-cell column-heading">Name</div>
              <div class="head-table-cell comment-cell column-heading">Comment</div>
              <div class="head-table-cell comment-id-cell column-heading">Comment ID</div>
              <div class="head-table-cell card-id-cell column-heading">Card ID</div>
              <div class="head-table-cell date-cell column-heading">Date</div>
              <div class="head-table-cell functions-cell column-heading">Functions</div>
          </div>
      </div>
      <div *ngFor="let data of historyArray">
          <app-comment-history [historyTableData]="data" (deleteRow)="deleteItems($event)" (highlightComment)="highlight($event)"></app-comment-history>
      </div>
  </section>
</div>